<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616202328025-e0v9k5vm678s6mrq7rnhi9k0khqd3n13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616202328025-e0v9k5vm678s6mrq7rnhi9k0khqd3n13</string>
	<key>API_KEY</key>
	<string>AIzaSyAmaly7wR5hJ6onlfUI4Ugd_VcV_uN3Er8</string>
	<key>GCM_SENDER_ID</key>
	<string>616202328025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ozgunaksoy.Views</string>
	<key>PROJECT_ID</key>
	<string>views-73e1e</string>
	<key>STORAGE_BUCKET</key>
	<string>views-73e1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616202328025:ios:81217ea2cfcb4a747e2bc8</string>
</dict>
</plist>